# pycharm
.idea

# Pure data
tf_files/split_flowers
tf_files/flower_photos
tf_files/models
*.pb
*.tgz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# virtualenv
venv-tf

